/* Initial style for the fade-in effect */
.headache-id {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
}

/* Class to trigger the fade-in effect */
.fade-in {
    animation: fadeIn 2s;
    animation-fill-mode: forwards;
    font-size: 24px;
}

@keyframes fadeIn {
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.start-headache-id {
    font-size: 24px;
}

/* Global Styles for Dark Mode */
body {
    background-color: #121212; /* Dark background */
    color: #E0E0E0; /* Light text */
    font-family: Arial, sans-serif; /* Readable font */
}

/* Button Styling */
button {
    padding: 20px;
    height: 90px;
    margin: 5px;
    border: 1px solid #333333;
    background-color: #210a3b; /* Dark button background color */
    color: #E0E0E0; /* Light text color */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    font-size: 24px;
}

button:hover {
    background-color: #333333; /* Darker background color on hover */
}

.pain-level-button.active {
    border-color: #005f73; /* Avoiding overly bright colors */
    box-shadow: 0 0 10px #005f73; /* Subtle shadow */
}

/* Responsiveness: Adjustments for smaller screens */
@media (max-width: 600px) {
    button {
        width: 100%; /* Full width for smaller screens */
        margin: 5px 0; /* Adjust margin for stacked layout */
    }
}

/* Inline styles for specific layout adjustments */
.grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.pain-level-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for number pad layout */
}

.item-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for medications and symptoms */
}
p {
    font-size: 32px;
    color: #c5c5c5;
}
@media (max-width: 1080px) {
    h2 {
        font-size: 72px;
    }
    .start-headache-btn {
        width: 90%; /* Full width for Start New Headache button */
        height: 200px;
        padding: 0;
    }

    button {
        height: 200px;
        font-size: 55px;
    }


}
/* Report Section Styling */
.report-section {
    margin: 20px;
    padding: 15px;
    background-color: #1a1a1a; /* Slightly lighter than body background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.report-header {
    font-size: 50px;
    color: #1873af; /* A greenish hue for headers */
    margin-bottom: 15px;
}

.report-table {
    width: 100%;
    border-collapse: collapse;
}

.report-table th, .report-table td {
    border: 1px solid #333;
    padding: 8px;
    text-align: left;
}

/* Chart Container */
.chart-container {
    max-width: 95%;
    margin: 20px auto;
    }

@media screen and (max-width: 600px) {
    .report-table th, .report-table td {
        display: block;
        text-align: right;
    }

    .report-table th::before, .report-table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
}
.report-link {
    background-color: #005f73; /* Consistent with active button color */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 4px;
}

.report-link:hover, .report-button:hover {
    background-color: #007bff; /* Slightly brighter on hover */
}
.home-button, .list-button {
    background-color: #005f73; /* Consistent with active button color */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    width: 43%;
    height: 48px;
    font-size: 40px;
}
.delete-headache-btn  {
    background-color: #005f73; /* Consistent with active button color */
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    border: none;
    border-radius: 4px;
    height: 80px;
}

.center-text {
    text-align: center;
}
.report-button {
    background-color: #1c411c; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

table {
    width: 75%;
    margin: auto;
    border-collapse: collapse;
    font-size: 24px;
    color: #cecece;
}

th, td {
    border: 1px solid #3a3a3a;
    padding: 8px;
}

th {
    background-color: #32355c;
    text-align: left;
    color: #afafaf;
}
@media screen and (max-width: 600px) {
    table {
        width: 100%;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #ffffff;
}

h2, h3 {
    color: #ffffff;
}

form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #202020;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    form {
        width: 90%;
        margin: 10px auto;
    }

    input[type="text"],
    input[type="number"],
    input[type="password"],
    input[type="submit"] {
        width: calc(100% - 20px);
    }
}
