<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cluster Headache Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta http-equiv="Refresh" content="60">
    <script>
        $(document).ready(function() {
            // Send pain metric to server when a button is clicked
            $('.metric_button').on('click', function() {
                var metric = $(this).data('metric');
                $.ajax({
                    type: 'POST',
                    url: '/submit',
                    data: {pain_metric: metric},
                    success: function(response) {
                        console.log('Data submitted successfully:', response);
                        updateStatus(response.current_metric, response.last_annotation);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log('Error submitting data:', textStatus, errorThrown, 'Server response:', jqXHR.responseText);
                    }
                });
            });

            // Fetch initial status
            updateStatus('{{ current_metric }}', '{{ last_annotation }}');


            // Set the Grafana authentication link
            $('#grafana-auth-link').attr('href', '{{ grafana_url }}');

        });

        function createAnnotation(annotation) {
            $.ajax({
                type: 'POST',
                url: '/create_annotation',
                data: {annotation: annotation},
                success: function(response) {
                    console.log('Annotation created successfully:', response);
                    updateStatus(response.current_metric, response.last_annotation);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('Error creating annotation:', textStatus, errorThrown, 'Server response:', jqXHR.responseText);
                }
            });
        }

        function updateStatus(currentMetric, lastAnnotation) {
            $('#current_status').text('Current Pain Metric: ' + currentMetric);
            $('#last_annotation').text('Last Annotation: ' + lastAnnotation);
        }

        $('#energy_drink').on('click', function() {
            createAnnotation('Energy Drink');
        });

        $('#oxygen_on').on('click', function() {
            createAnnotation('Oxygen On');
        });

        $('#oxygen_off').on('click', function() {
            createAnnotation('Oxygen Off');
        });

        $('#sumatriptan').on('click', function() {
            createAnnotation('Sumatriptan');
        });
        
        function logHeadacheStart() {
            var minutesAgo = $('#start-time').val();
            // Convert minutes to milliseconds
            var startTime = new Date().getTime() - (minutesAgo * 60 * 1000);

            // Send this startTime to the server to log in InfluxDB with a pain value of 0
            $.ajax({
                type: 'POST',
                url: '/log_headache_start',
                data: { start_time: startTime },
                success: function(response) {
                    console.log('Headache start logged successfully:', response);
                    updateStatus(response.current_metric, response.last_annotation);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('Error logging headache start:', textStatus, errorThrown, 'Server response:', jqXHR.responseText);
                }
            });
        }

        $('#log-start').on('click', logHeadacheStart);



    </script>
</head>
<body>
    <center>
    <table id="header">
        <tr>
            <td>
                <div id="pain_scale">
                    <h2>Current Pain Level</h2>
                    <iframe src="https://grafana.passey.cloud/d-solo/n_chIOy4k/cluster-headache?orgId=1&refresh=10s&panelId=4" width="450" height="200" frameborder="0"></iframe>
                </div>
            </td>
            <td>
                <div id="current_header">
                    <h1>Cluster Headache Tracker</h1>
                    
                </div>
            </td>
            <td>
                <div id="treatment_log_header">
                    <h2>Treatment Log</h2>
                    <iframe src="https://grafana.passey.cloud/d-solo/n_chIOy4k/cluster-headache?orgId=1&refresh=10s&panelId=5" width="450" height="200" frameborder="0"></iframe>
                </div>
            </td>
        </tr>
    </table>

    <iframe src="https://grafana.passey.cloud/d-solo/n_chIOy4k/cluster-headache?orgId=1&refresh=10s&panelId=2" width="80%" height="400" frameborder="0"></iframe>
    
    <div class="headache-start">
        <label for="start-time">Headache started:</label>
        <select id="start-time">
            <option value="5">5 minutes ago</option>
            <option value="10">10 minutes ago</option>
            <option value="15">15 minutes ago</option>
            <!-- Add more options as needed -->
        </select>
        <button type="button" id="log-start">Log Headache Start</button>
    </div>
    

    <div class="annotations">
        <button type="button" id="energy_drink">Energy Drink</button>
        <button type="button" id="oxygen_on">Oxygen On</button>
        <button type="button" id="oxygen_off">Oxygen Off</button>
        <button type="button" id="sumatriptan">Sumatriptan</button>
    </div>

    <div class="metrics">
        <button type="button" class="metric_button" data-metric="0">0</button>
        <button type="button" class="metric_button" data-metric="1">1</button>
        <button type="button" class="metric_button" data-metric="2">2</button>
        <button type="button" class="metric_button" data-metric="3">3</button>
        <button type="button" class="metric_button" data-metric="4">4</button>
        <button type="button" class="metric_button" data-metric="5">5</button>
        <button type="button" class="metric_button" data-metric="6">6</button>
        <button type="button" class="metric_button" data-metric="7">7</button>
        <button type="button" class="metric_button" data-metric="8">8</button>
        <button type="button" class="metric_button" data-metric="9">9</button>
        <button type="button" class="metric_button" data-metric="10">10</button>
    </div>

    <br><br>
    <p id="current_status">{{ current_metric }}</p>
    <p id="last_annotation">{{ last_annotation }}</p>
    <div class="authenticate">
    <a id="grafana-auth-link" href="#">Authenticate with Grafana</a>
    </div>
    
</body>
</html>