<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cluster Headache Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <meta http-equiv="Refresh" content="60">
    <script>
        $(document).ready(function() {
            // Send pain metric to server when a button is clicked
            $('.metric_button').on('click', function() {
                var metric = $(this).data('metric');
                $.ajax({
                    type: 'POST',
                    url: '/submit',
                    data: {pain_metric: metric},
                    success: function(response) {
                        console.log('Data submitted successfully:', response);
                        updateStatus(response.current_metric, response.last_annotation);
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        console.log('Error submitting data:', textStatus, errorThrown, 'Server response:', jqXHR.responseText);
                    }
                });
            });

            // Fetch initial status
            updateStatus('{{ current_metric }}', '{{ last_annotation }}');

            // Refresh graphs and images periodically
            setInterval(refreshGraph, 60000);
            setInterval(refreshTreatmentLog, 60000);
            setInterval(refreshPainLevel, 60000);

            // Set the Grafana authentication link
            $('#grafana-auth-link').attr('href', '{{ grafana_url }}');

        });

        function createAnnotation(annotation) {
            $.ajax({
                type: 'POST',
                url: '/create_annotation',
                data: {annotation: annotation},
                success: function(response) {
                    console.log('Annotation created successfully:', response);
                    updateStatus(response.current_metric, response.last_annotation);
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log('Error creating annotation:', textStatus, errorThrown, 'Server response:', jqXHR.responseText);
                }
            });
        }

        function updateStatus(currentMetric, lastAnnotation) {
            $('#current_status').text('Current Pain Metric: ' + currentMetric);
            $('#last_annotation').text('Last Annotation: ' + lastAnnotation);
        }

        function refreshGraph() {
        var graphElement = document.getElementById('graph');
        var newImageUrl = graphElement.src + '?' + new Date().getTime();

        // Preload the image
        var preloadedImage = new Image();
        preloadedImage.src = newImageUrl;

        // Once the image is loaded, update the src of the graphElement
        preloadedImage.onload = function() {
            graphElement.src = newImageUrl;
        };
        }


        function refreshTreatmentLog() {
            var treatmentLogElement = document.getElementById('treatment_log');
            treatmentLogElement.src = treatmentLogElement.src + '?' + new Date().getTime();
        }

        function refreshPainLevel() {
            var painLevelElement = document.getElementById('pain_level');
            painLevelElement.src = painLevelElement.src + '?' + new Date().getTime();
        }

        $('#energy_drink').on('click', function() {
            createAnnotation('Energy Drink');
        });

        $('#oxygen_on').on('click', function() {
            createAnnotation('Oxygen On');
        });

        $('#oxygen_off').on('click', function() {
            createAnnotation('Oxygen Off');
        });

        $('#sumatriptan').on('click', function() {
            createAnnotation('Sumatriptan');
        });

    </script>
</head>
<body>
    <center>
    <table id="header">
        <tr>
            <td>
                <div id="pain_scale">
                    <h2>Current Pain Level</h2>
                    <img src="https://grafana.passey.cloud/render/d-solo/n_chIOy4k/cluster-headache?orgId=1&refresh=10s&panelId=4&width=400&height=200&tz=Europe%2FLondon" id="pain_level" width="100%" height="200px">
                </div>
            </td>
            <td>
                <div id="current_header">
                    <h1>Cluster Headache Tracker</h1>
                    
                </div>
            </td>
            <td>
                <div id="treatment_log_header">
                    <h2>Treatment Log</h2>
                    <img src="https://grafana.passey.cloud/render/d-solo/n_chIOy4k/cluster-headache?orgId=1&refresh=10s&panelId=5&width=400&height=200&tz=Europe%2FLondon" id="treatment_log" width="100%" height="200px">
                </div>
            </td>
        </tr>
    </table>

    <div class="graphs">
        <img src="https://grafana.passey.cloud/render/d-solo/n_chIOy4k/cluster-headache?orgId=1&refresh=10s&panelId=2&width=1000&height=400&tz=Europe%2FLondon" id="graph" width="80%" height="400px">
    </div>

    <div class="annotations">
        <button type="button" id="energy_drink">Energy Drink</button>
        <button type="button" id="oxygen_on">Oxygen On</button>
        <button type="button" id="oxygen_off">Oxygen Off</button>
        <button type="button" id="sumatriptan">Sumatriptan</button>
    </div>

    <div class="metrics">
        <button type="button" class="metric_button" data-metric="0">0</button>
        <button type="button" class="metric_button" data-metric="1">1</button>
        <button type="button" class="metric_button" data-metric="2">2</button>
        <button type="button" class="metric_button" data-metric="3">3</button>
        <button type="button" class="metric_button" data-metric="4">4</button>
        <button type="button" class="metric_button" data-metric="5">5</button>
        <button type="button" class="metric_button" data-metric="6">6</button>
        <button type="button" class="metric_button" data-metric="7">7</button>
        <button type="button" class="metric_button" data-metric="8">8</button>
        <button type="button" class="metric_button" data-metric="9">9</button>
        <button type="button" class="metric_button" data-metric="10">10</button>
    </div>

    <br><br>
    <p id="current_status">{{ current_metric }}</p>
    <p id="last_annotation">{{ last_annotation }}</p>
    <div class="authenticate">
    <a id="grafana-auth-link" href="#">Authenticate with Grafana</a>
    </div>
    
</body>
</html>